<!DOCTYPE html>
<html>
<head>
  <title>ExampleApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>

	<script type="text/template" id="album-template">
		<li
	</script>

</head>
<body>
	<header id="title">
	    <h1>SnapShot</h1>
			 <% flash.each do |key, value| -%>
	        <div class="flash <%= key %>"><%= value %></div>
	      <% end -%>
	  </header>

	  <div id="wrapper">
	    <div id="sidebar">
							
	      <h3 class="sidebar_h3">Photo Albums</h3>
	      <ul id="albums">
	      </ul>

	      <h3>Options</h3>
	      <ul id="options">
	        <li class="menu-category" id="settings-option" data-name="settings">Settings</li>
	      </ul>

	      <h3>Search</h3>
	      <input type="search" results="0" incremental="true" placeholder="Search">
	
	    </div>

	    <div class="vdivide"></div>
			
	    <div id="content" style="">
	      <div id="messages">
	        <ul class="items">
	        </ul>

	        <div class="new">
	          <textarea></textarea>
	          <button>Send</button>
	        </div>
	      </div>

	      <div id="searches">
	        <h2>Search results: <span class="query"></span></h2>
	        <ul class="items"></ul>
	      </div>

	      <div id="settings" class="active">
	        <!-- <h2>Photo Albums</h2>
	        	        <ul class="channels">
	        	        </ul> -->

	        <h2>Create New Album</h2>
	        <div id="createAlbum">
	            <input id="newAlbum" type="text" placeholder="Album Name">
	            <button id="newAlbumBtn" class="pill">New Album</button>
	        </div>

	        <h2 class="">Profile</h2>
					<div>
				    <div id="contents">
					    <div id="header">
					      <% flash.each do |key, value| -%>
					        <div class="flash <%= key %>"><%= value %></div>
					      <% end -%>

					      <% if signed_in? %>
					        <%= current_user.email %>
					        <%= link_to "Sign out", sign_out_path, :method => :delete %>
					      <% else %>
					        <%= link_to "Sign in", sign_in_path %>
					      <% end %>
					    </div>
							<form accept-charset="UTF-8" action="/session" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="8ioRcATDtjXHQv3xEZETChVJoqdPfMLymCqChtcICWQ=" /></div>
							  <div class="text_field">
							    <label for="session_email">Email</label>
							    <input id="session_email" name="session[email]" size="30" type="email" />
							  </div>
							  <div class="text_field">
							    <label for="session_password">Password</label>
							    <input id="session_password" name="session[password]" size="30" type="password" />
							  </div>
							  <div class="submit_field">
							    <button class="pill" name="commit" type="submit" value="Sign in">Sign in</button>
							  </div>
							</form>
				  </div>
	      
				</div>
	    </div>
	  
			<div id="photo-album-holder">
				<h2>Photos<h2>
				<div></div>
				<h2>Upload New Photo</h2>
			</div>
			
		</div>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
